body {
    background: rgb(27,145,216);
    text-align: center;
}

#title {
    margin-top: 70px;
    font-family: Helvetica;
    font-size: 40px;
}

#button-container {
    width: 75%;
    /*background: red;*/
    margin: 60px auto;
}

.button-giant {
    margin: 30px;
}

.button-purple {
    background: mediumpurple;
}